Project Development Phase/Sprint 1/Node-RED-flows.json
[
    {
        "id": "bd0c178447dd1ca1",
        "type": "cloudantplus out",
        "z": "9839df22ee52efd2",
        "name": "Sign Up",
        "cloudant": "4946f23f5cacb39c",
        "database": "auth-table",
        "service": "_ext_",
        "payonly": true,
        "operation": "insert",
        "x": 980,
        "y": 380,
        "wires": [
            [
                "877959a33f9be5ce"
            ]
        ]
    },
    {
        "id": "5c4ff4f9b0db37f6",
        "type": "cloudantplus in",
        "z": "9839df22ee52efd2",
        "name": "Get Data",
        "cloudant": "4946f23f5cacb39c",
        "database": "auth-table",
        "service": "_ext_",
        "search": "_query_",
        "design": "",
        "index": "",
        "x": 480,
        "y": 420,
        "wires": [
            [
                "60ad3f584d5e7dd9"
            ]
        ]
    },
    {
        "id": "3fdc01e6307df484",
        "type": "function",
        "z": "9839df22ee52efd2",
        "name": "Find the User",
        "func": "msg.email = msg.payload.email;\nglobal.set('email', msg.email); \nmsg.password = msg.payload.password;\nmsg.payload = {\n    \"selector\": {\n        \"email\": msg.email\n    }\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 420,
        "wires": [
            [
                "5c4ff4f9b0db37f6"
            ]
        ]
    },
    {
        "id": "60ad3f584d5e7dd9",
        "type": "switch",
        "z": "9839df22ee52efd2",
        "name": "",
        "property": "payload.bookmark",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "nil",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 630,
        "y": 420,
        "wires": [
            [
                "a52be20b999717e0"
            ],
            [
                "d04a0ab4e91429d7"
            ]
        ]
    },
    {
        "id": "d04a0ab4e91429d7",
        "type": "function",
        "z": "9839df22ee52efd2",
        "name": "Authentication",
        "func": "var password = msg.payload.docs[0].password\nif(msg.password == password){\n    msg.payload=\"Login\"\n}else{\n    msg.payload=\"Wrong Password\"\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 440,
        "wires": [
            [
                "3a3e48435953fb76"
            ]
        ]
    },
    {
        "id": "a52be20b999717e0",
        "type": "function",
        "z": "9839df22ee52efd2",
        "name": "Sign Up function",
        "func": "msg.payload = { \"email\": msg.email, \"password\": msg.password }\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 380,
        "wires": [
            [
                "bd0c178447dd1ca1"
            ]
        ]
    },
    {
        "id": "b012d52e30b202f6",
        "type": "ui_ui_control",
        "z": "9839df22ee52efd2",
        "name": "",
        "events": "all",
        "x": 1360,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "c603623ddab15978",
        "type": "function",
        "z": "9839df22ee52efd2",
        "name": "Booking Page Change",
        "func": "// msg.payload = { \"group\": { \"hide\": [\"SignIn_LoginPage\"], \"show\": [\"SignIn_Boarding\", \"SignIn_Departure\", \"SignIn_Date\", \"SignIn_TicketCount\"], \"focus\": true } }\n// msg.payload = { \"tabs\": { \"show\": [\"SignIn\"], \"hide\": [\"Booking\"] } }\nmsg.payload = { \"group\": { \"hide\": [\"App_LoginPage\"], \"show\": [\"App_BookingPage\"], \"focus\": true } }\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1160,
        "y": 460,
        "wires": [
            [
                "b012d52e30b202f6"
            ]
        ]
    },
    {
        "id": "9beb113ddf12fec1",
        "type": "inject",
        "z": "9839df22ee52efd2",
        "name": "Clear screen",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{ \"group\": { \"show\": [\"App_LiveTracking\"], \"hide\": [\"App_LoginPage\", \"App_BookingPage\", \"App_LiveTrackingDetails\", \"App_PNRQuery\", \"App_ServiceRequest\"], \"focus\": true } }",
        "payloadType": "jsonata",
        "x": 170,
        "y": 140,
        "wires": [
            [
                "fb31852aaf56c961"
            ]
        ]
    },
    {
        "id": "fb31852aaf56c961",
        "type": "ui_ui_control",
        "z": "9839df22ee52efd2",
        "name": "Initial Setup",
        "events": "all",
        "x": 330,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "630ee4834eedee9b",
        "type": "ui_form",
        "z": "9839df22ee52efd2",
        "name": "Sign In",
        "label": "",
        "group": "bd0ae5386ad7daf2",
        "order": 1,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Email",
                "value": "email",
                "type": "email",
                "required": true,
                "rows": null
            },
            {
                "label": "Password",
                "value": "password",
                "type": "password",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "email": "",
            "password": ""
        },
        "payload": "",
        "submit": "Sign In/Sign Up",
        "cancel": "Cancel",
        "topic": "",
        "topicType": "str",
        "splitLayout": "",
        "className": "",
        "x": 140,
        "y": 420,
        "wires": [
            [
                "3fdc01e6307df484"
            ]
        ]
    },
    {
        "id": "3a3e48435953fb76",
        "type": "switch",
        "z": "9839df22ee52efd2",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Wrong Password",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Login",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 970,
        "y": 440,
        "wires": [
            [
                "3fe874b2dc88a95d"
            ],
            [
                "c603623ddab15978"
            ]
        ]
    },
    {
        "id": "3883f5e570fa2f1e",
        "type": "ui_dropdown",
        "z": "9839df22ee52efd2",
        "name": "Page Change",
        "label": "Move to",
        "tooltip": "",
        "place": "Select option",
        "group": "8fe9d7939381df1f",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "Live Tracking Page",
                "value": "tracking",
                "type": "str"
            },
            {
                "label": "Booking page",
                "value": "booking",
                "type": "str"
            },
            {
                "label": "PNR Query",
                "value": "pnr",
                "type": "str"
            },
            {
                "label": "Service Request",
                "value": "request",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "",
        "topicType": "str",
        "className": "",
        "x": 160,
        "y": 260,
        "wires": [
            [
                "8993d7fc4655d61c"
            ]
        ]
    },
    {
        "id": "10d51d4c3575879d",
        "type": "ui_ui_control",
        "z": "9839df22ee52efd2",
        "name": "",
        "events": "all",
        "x": 640,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "8993d7fc4655d61c",
        "type": "function",
        "z": "9839df22ee52efd2",
        "name": "Home Page Change",
        "func": "if (msg.payload == \"tracking\"){\n    msg.payload = { \"group\": { \"show\": [\"App_LiveTrackingDetails\"], \"hide\": [\"App_LoginPage\", \"App_BookingPage\", \"App_PNRQuery\", \"App_ServiceRequest\"], \"focus\": true } }\n\n} else if (msg.payload == \"booking\"){\n    msg.payload = { \"group\": { \"show\": [\"App_LoginPage\"], \"hide\": [\"App_LiveTrackingDetails\", \"App_BookingPage\", \"App_PNRQuery\", \"App_ServiceRequest\"], \"focus\": true } }\n\n}else if(msg.payload==\"pnr\"){\n    msg.payload = { \"group\": { \"show\": [\"App_PNRQuery\"], \"hide\": [\"App_LoginPage\", \"App_BookingPage\", \"App_LiveTrackingDetails\", \"App_ServiceRequest\"], \"focus\": true } }\n}else {\n    msg.payload = { \"group\": { \"show\": [\"App_ServiceRequest\"], \"hide\": [\"App_LoginPage\", \"App_BookingPage\", \"App_LiveTrackingDetails\", \"App_PNRQuery\"], \"focus\": true } }\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 260,
        "wires": [
            [
                "10d51d4c3575879d"
            ]
        ]
    },
    {
        "id": "877959a33f9be5ce",
        "type": "function",
        "z": "9839df22ee52efd2",
        "name": "Sign UP Notification",
        "func": "msg.payload = \"Account Created Sucessfully. Login to book the ticket.\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1180,
        "y": 380,
        "wires": [
            [
                "05516376c7178b7b"
            ]
        ]
    },
    {
        "id": "05516376c7178b7b",
        "type": "ui_toast",
        "z": "9839df22ee52efd2",
        "position": "dialog",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 1,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "Sign Up Sucessful",
        "x": 1390,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "3fe874b2dc88a95d",
        "type": "ui_toast",
        "z": "9839df22ee52efd2",
        "position": "dialog",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 1,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "Wrong Password",
        "x": 1150,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "53bf4a48f55d9637",
        "type": "comment",
        "z": "9839df22ee52efd2",
        "name": "Smart Solution For Railways",
        "info": "By,\nShane Rex\nShyam\nVijay\nSubash\n\nTrain No : 12632",
        "x": 800,
        "y": 40,
        "wires": [],
        "icon": "font-awesome/fa-info-circle"
    },
    {
        "id": "a605a733f0c5fc2e",
        "type": "comment",
        "z": "9839df22ee52efd2",
        "name": "Clear screen",
        "info": "",
        "x": 110,
        "y": 80,
        "wires": []
    },
    {
        "id": "c04189a99625f13a",
        "type": "comment",
        "z": "9839df22ee52efd2",
        "name": "Navigation",
        "info": "",
        "x": 100,
        "y": 200,
        "wires": []
    },
    {
        "id": "63ecc0961aae3aea",
        "type": "comment",
        "z": "9839df22ee52efd2",
        "name": "Sign In/Sign Up",
        "info": "",
        "x": 120,
        "y": 340,
        "wires": []
    },
    {
        "id": "4946f23f5cacb39c",
        "type": "cloudantplus",
        "host": "https://apikey-v2-2vji5kegi5d7aaygtccqtt616y5u2yva2mpawe7ps7gp:15bc42554c2a4881a11889247e6ab66e@58980990-cf73-48b6-bbee-db90262aae86-bluemix.cloudantnosqldb.appdomain.cloud",
        "name": "Database",
        "useapikey": true
    },
    {
        "id": "bd0ae5386ad7daf2",
        "type": "ui_group",
        "name": "LoginPage",
        "tab": "59ce8c49ecb5f8ce",
        "order": 6,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "8fe9d7939381df1f",
        "type": "ui_group",
        "name": "HomePage",
        "tab": "59ce8c49ecb5f8ce",
        "order": 10,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "59ce8c49ecb5f8ce",
        "type": "ui_tab",
        "name": "App",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]